<md-dialog aria-label="" id="imgDialog">

  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect"  style="background:green; margin-right: 0px;">
      <div layout="row">
          <div flex="90">
              <h3 style=" margin :0px; float:left; overflow:hidden; color:white">{{photos[_Index].desc}}</h3>
          </div>
          <div flex="10" style="margin-top : -1.5%">
            <md-button ng-click="answer('useful')" aria-label="close" class="md-icon-button md-primary pull-right close_btn">
                <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
            </md-button>
          </div>
      </div>
    </md-subheader>

    <div class="slider" layout layout="center">
        <span ng-repeat="photo in photos" style="width:100%;">
          <img  class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index) && photo.isLoading" src="{{photo.src}}" image-loading/>
          <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="isActive($index) && !photo.isLoading"></md-progress-circular>
        </span>
       <!-- <img  ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" src="{{photo.src}}" />-->
        <!-- prev / next controls -->
      <md-icon class="arrow prev" ng-click="showPrev()" md-svg-icon="{{static_path}}lib/image/arrows/left_arrow/128x128.svg"></md-icon>
      <md-icon class="arrow next" ng-click="showNext()" md-svg-icon="{{static_path}}lib/image/arrows/right_arrow/128x128.svg"></md-icon>

    </div>
    <ul class="nav">
        <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
          <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);"  width="30" height="20px"/>
        </li>
      </ul>
  </md-dialog-content>


</md-dialog>


<!--
<a class="arrow prev" ng-click="showPrev()"></a>
      <a class="arrow next" ng-click="showNext()"></a>

      <ul class="nav">
        <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
          <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);"  />
        </li>
      </ul>-->
