<md-dialog aria-label="">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect"  style="background:green; margin-right: 0px;">
      <div layout="row">
          <div flex="90">
              <h3 style=" margin :0px; float:left; overflow:hidden; color:white">{{videos[_Index].desc}}</h3>
          </div>
          <div flex="10" style="margin-top : -1.5%">
            <md-button ng-click="answer('useful')" class="md-icon-button md-primary pull-right close_btn" aria-label="close">
                <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
            </md-button>
          </div>
      </div>
    </md-subheader>
    <!--<div>
      <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="https://material.angularjs.org/img/mangues.jpg">
      
    </div>-->
    <!-- slider container -->
    <div class="slider" layout layout="center">
      <!-- enumerate all photos -->

      <!-- <img  ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" src="{{photo.src}}" /> -->
       <youtube-video ng-repeat="photo in videos"  ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" video-url="photo.src"/></youtube-video>
      

    </div>
  </md-dialog-content>

  </form>
</md-dialog>