<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>My Swaasth Project</title>
{% load static from staticfiles %}
  <!--<base href="/" />-->

    <meta name="viewport" content="initial-scale=1" />
    
  {% include 'stylesheets.html' %}
    <style>
        .splash {
    display: none;
}

[ng-cloak].splash {
    display: block !important;
}

.splash {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    filter: alpha(opacity=60);
    {% comment %}opacity: 0.1;{% endcomment %}
    background: #000 ;
    z-index: 100000000000;
}

.splash h2 {
    text-align: center;
    font-size: 4em;
    color:white;
}
    </style>
</head>


{% verbatim %}

<body>
<div class="splash" ng-cloak="">
    <h2>Loading </h2>

</div>

<div ng-controller="IndexController" ng-click="bodyClick()" ng-cloak="">
    <img src="http://127.0.0.1:8000/static/lib/image/avatar/male_front.png" style="display:none"/>
<img src="http://127.0.0.1:8000/static/lib/image/avatar/female.png" style="display:none"/>
<!--<img src="http://127.0.0.1:8000/static/lib/image/avatar/female_back.png" style="display:none"/>
<img src="http://127.0.0.1:8000/static/lib/image/avatar/male_back.png" style="display:none"/>-->

<!--<img src="https://healthbrio.s3.amazonaws.com/lib/image/avatar/female.png" style="display:none"/>
<img src="https://healthbrio.s3.amazonaws.com/lib/image/avatar/female_back.png" style="display:none"/>
<img src="https://healthbrio.s3.amazonaws.com/lib/image/avatar/male_front.png" style="display:none"/>
<img src="https://healthbrio.s3.amazonaws.com/lib/image/avatar/male_back.png" style="display:none"/>-->
<div id="login-content">


    <div layout="column" id="tile1" class ="main_layout">
        <!--header Layour-->
        <div class="wrapper settings-form">
            <div class="login-header">
                Login
            </div>
            <div class="close">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>


            <div id="make-3D" layout="row" layout-align="center center" layout-margin layout-fill layout-padding ng-controller="FbController as Main">
               <div class="tile-3d">

                   <!--front view login page-->
                  <div class="signin-holder" id="front" style="border: 1px solid #1A98EB;padding: 40px 40px 20px; background-color: #FFF; min-width: 800px;">
                      <div flex="15">
                          <h2>Signin with your My Swaasth account</h2>
                          <h4>Welcome back! Enter your password to login!</h4>
                      </div>
                      <md-content>
                        <md-card>
                          <div layout="row">
                          <md-card-content class="signin-wrapper">
                            <div layout-margin layout="column" class="signin-body">
                            <form autocomplete="on">
                              <md-content>
                                <md-input-container md-no-float >
                                  <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" class="email"></md-icon>
                                  <input ng-model="lmail" type="email" placeholder="Email (required)" ng-required="true">
                                </md-input-container>
                                <md-input-container md-no-float style="padding-bottom: 0px">
                                  <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>
                                  <input ng-model="lpass" type="password" placeholder="Password" >
                                </md-input-container>

                                 <md-button style=" text-transform: none;float: right" layout="row" layout-align="end end" class="md-primary" ng-href="{{googleUrl}}" target="_blank">Forgot your password?</md-button>

                              </md-content>
                              <md-button class="md-raised md-primary" ng-click="login()" style="width:100%; height:40px">
                                <span ng-show='!isLoginButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>Login</span>
                                 <span ng-show='isLoginButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>wait...<md-progress-linear md-mode="indeterminate"></md-progress-linear></span>
                              </md-button>

                              </form>
                            </div>
                          </md-card-content>


                          <md-card-content>
                            <div layout-margin layout="column" class="signin-body">
                              <md-content>
                               <div class="socialLoginLinks clearfix">

                                   <button class="btn-social btn-fb" ng-click="Main.IntentLogin()">Sign in with Facebook</button><br/>

                                   <button class="btn-social btn-google" google-plus-signin clientid="168922870620-q9l04h3m6ccevbvs6hr9ug0s6fafjn44.apps.googleusercontent.com" language="us"></button>
                               </div>
                              </md-content>
                            </div>
                          </md-card-content>
                          </div>
                            <hr>

                          <div layout="row">
                              <md-card-content>
                                  <div class="login-links">
                                      <p id="createAccount" class="signup-link">Don't have a My Swaasth account?
                                      <a href="javascript:void(0);" class="settings">Click here</a> to create one</p></div>
                              </md-card-content>
                          </div>
                        </md-card>
                      </md-content>

                      <div flex="15"></div>

                  </div>







                  <!--back view  signup-->
                  <div class="signin-holder" id="back" style="border: 1px solid #1A98EB;padding: 40px 40px 20px; background-color: #FFF; min-width: 800px;">
                      <div flex="15">
                          <h2>Create a My Swaasth account</h2>
                          <h4>Enter your details and we will create a My Swaasth account for you</h4>
                      </div>

                      <md-content>
                        <md-card>
                          <div layout="row">
                          <md-card-content class="signin-wrapper">
                            <div layout-margin layout="column" class="signin-body">

                              <md-content>
                                <md-input-container md-no-float>
                                  <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>
                                  <input ng-model="uname" type="text" placeholder="UserName" >
                                </md-input-container>
                                <md-input-container md-no-float >
                                  <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" class="email"></md-icon>
                                  <input ng-model="umail" type="email" placeholder="Email (required)" ng-required="true">
                                </md-input-container>
                                <md-input-container md-no-float style="padding-bottom: 0px">
                                  <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>
                                  <input ng-model="upass" type="password" placeholder="Password" ng-required="true">
                                </md-input-container>

                              </md-content>

                              <md-button class="md-raised md-primary" ng-click="submit()" style="width:100%; height:40px">
                                <span ng-show='!isSubmitButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>Signup</span>
                                 <span ng-show='isSubmitButtonClick'><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>wait...<md-progress-linear md-mode="indeterminate"></md-progress-linear></span>
                              </md-button>

                            </div>
                          </md-card-content>


                          <md-card-content>
                            <div layout-margin layout="column" class="signin-body">
                              <md-content>
                               <div class="socialLoginLinks clearfix">

                                   <button class="btn-social btn-fb" ng-click="Main.IntentLogin()">Sign in with Facebook</button><br/>
                                    <button class="btn-social btn-google" google-plus-signin clientid="168922870620-q9l04h3m6ccevbvs6hr9ug0s6fafjn44.apps.googleusercontent.com" language="us">Sign in with Google</button>

                               </div>
                              </md-content>
                            </div>
                          </md-card-content>
                          </div>
                            <hr>

                          <div layout="row">
                              <md-card-content>
                                  <div class="login-links">
                                      <p class="signup-link">Already have a My Swaasth account?
                                      <a href="javascript:void(0);"  class="rotate">Click here</a> to login</p></div>
                              </md-card-content>
                          </div>
                        </md-card>
                      </md-content>

                      <div flex="15"></div>

                  </div>
               </div>

            </div>

        </div>

        <div class="circle"></div>
        <md-content>
              <md-toolbar layout = "row">
                <div class="md-toolbar-tools" style="height: 53px;">
                  <!--<md-button  class="md-icon-button" aria-label="Settings" ng-click="menuClicked()" ng-class="{animateMenuIcon:showMenuList}">
                    <md-icon md-svg-icon="lib/image/icons/menu.svg"></md-icon>
                  </md-button>-->
                  <img src="{{static_path}}lib/image/logo/myswaasthlogo22.png" width="150" style="position : absolute ; z-index: 100;">
                  <!--<h2>
                      <md-button href="/"> <span class="webtitle">My Swaasth</span></md-button>
                  </h2>-->
                  <!--<span flex></span>
                  <md-input-container class="md-icon-float"  >
                      <label style="color:white">Search</label>
                      <input ng-model="temp" type="text">
                  </md-input-container>-->


                  <span flex></span>
                  <md-input-container ng-show="isGlobleSearch">
                    <label style="color:white">Search</label>
                    <input ng-model="user.search" type="search">
                  </md-input-container>
                  <md-button class="md-icon-button md-padding" aria-label="Favorite" ng-click="isGlobleSearch=!isGlobleSearch">
                    <md-icon md-svg-icon="{{static_path}}lib/image/icons/search.svg"></md-icon>
                  </md-button>
                  <!--<md-button class="md-icon-button md-padding" aria-label="More">
                    <md-icon md-svg-icon="lib/image/icons/square_menu.svg"></md-icon>
                  </md-button>-->

                  <!--<md-button class="md-icon-button md-padding settings" aria-label="More">
                    Login
                  </md-button>-->

                    <md-button class="md-icon-button md-padding settings" aria-label="More" ng-show="isLoginShow">
                      Login
                    </md-button>

                    <md-button class="md-icon-button md-padding settings" style="border-radius:50%; width:50px; height:50px; background:black" aria-label="More" ng-click="loginMouseOver()" ng-show="!isLoginShow">
                      {{loginName}}
                    </md-button>

                </div>

              </md-toolbar>

          </md-content>


          <!--navigation layout-->
        <div  class="navbar" id="navbar">
            <div class="logout_class" ng-show="isLogoutBarShow">
              <h2 style="color:rgb(92, 92, 92); margin-bottom:-1%">Hi! {{loginName}}</h2><span style="color:rgb(192, 192, 192); width:100%; display:block; overflow:hidden; text-overflow:ellipsis">{{loginEmail}}</span><md-divider></md-divider>
              <ul>
                <li><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon><md-button style="width:88%; text-align:left">Profile</md-button><md-divider></md-divider></li>
                <li><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon><md-button style="width:88%; text-align:left" ng-click="dashboardFun()">Dashboard</md-button><md-divider></md-divider></li>
                <li><md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon><md-button style="width:88%; text-align:left" ng-click="logoutFun()">Logout</md-button><md-divider></md-divider></li>
              </ul>
            </div>
            <!--For dashboard-->
          <div style="background:white; width:40%; height:50%; border:2px solid lightgray; border-radius:2%; left: 30%; position:absolute; z-index:1000; padding:2%;" ng-show="isDashboard">
            <md-content>
              <md-input-container md-no-float>
                <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>
                <input ng-model="old_pass" type="password" placeholder="Current Passowrd">
              </md-input-container>
              <md-input-container md-no-float>
                <md-icon md-svg-src="{{static_path}}lib/image/icons/ic_person_24px.svg" style="display:inline-block;"></md-icon>
                <input ng-model="new_pass" type="password" placeholder="New Passowrd">
              </md-input-container>
              <md-button class="md-raised md-primary" ng-click="changePass()">Change</md-button>
            </md-content>
            <md-content>
              Name: {{user_name}}<br/>
              First-Name: {{user_fname}}<br/>
              Middle-Name: {{user_mname}}<br/>
              Last-Name: {{user_lname}}<br/>
              E-mail: {{user_email}}<br/>
              Mobile : {{user_mobile}}
            </md-content>
          </div>


          <!--For Main Menu-->
            <md-tabs md-selected="selectedIndex" class="tab-bottom" md-border-bottom md-stretch-tabs="auto" md-pagination-arrows="paginate" >
                    <md-tab ui-sref="symptoms/male">
                        <md-tab-label>Symptoms&nbsp;&nbsp;&nbsp;</md-tab-label>
                          <md-tab-body>

                            <perfect-scrollbar class="scroller"  wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                               <div class="main_div" ui-view>

                               </div>

                            </perfect-scrollbar>
                        </md-tab-body>
                    </md-tab>
                    <md-tab ui-sref="conditions">
                        <md-tab-label>Conditions&nbsp;</md-tab-label>
                          <md-tab-body>
                            <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                               <div class="{{pageClass}} main_div" ui-view >

                               </div>

                            </perfect-scrollbar>
                          </md-tab-body>
                      </md-tab>
                    <md-tab ui-sref="medications">
                        <md-tab-label>Medications</md-tab-label>
                          <md-tab-body>
                            <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                               <div class="{{pageClass}} main_div" ui-view >

                               </div>

                            </perfect-scrollbar>
                          </md-tab-body>
                      </md-tab>

                    <md-tab ui-sref="procedures">
                        <md-tab-label>Procedures&nbsp;</md-tab-label>
                          <md-tab-body>
                            <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                               <div class="{{pageClass}} main_div" ui-view >

                               </div>

                            </perfect-scrollbar>
                          </md-tab-body>
                        </md-tab>

                    <md-tab ui-sref="hospitals">
                        <md-tab-label>Hospitals&nbsp;</md-tab-label>
                          <md-tab-body>
                            <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                               <div class="{{pageClass}} main_div" ui-view >

                               </div>

                            </perfect-scrollbar>
                          </md-tab-body>
                      </md-tab>
                    <md-tab ui-sref="doctors">
                        <md-tab-label>Doctors&nbsp;&nbsp;&nbsp;&nbsp;</md-tab-label>
                          <md-tab-body>
                            <perfect-scrollbar class="scroller" id="scrollView" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                               <div class="{{pageClass}} main_div" ui-view >

                               </div>

                            </perfect-scrollbar>
                          </md-tab-body>
                        </md-tab>


                </md-tabs>

        </md-content>

    </div>



























    </div>




<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" style="position:fixed; top:10%; right:0; z-index:1000">{{alert.msg}}</alert>

</div>
</div>

{% endverbatim %}
  {% include 'javascripts.html' %}
<script>
    var body = document.getElementsByTagName('body')[0];

setTimeout(function() {
    body.setAttribute('ng-app', 'myApp');
    angular.bootstrap(body, ['ng', 'myApp']);
}, 2000);
</script>
</body>

</html>
