<div class="avatar" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-tabs md-border-bottom md-stretch-tabs="always">
                <md-tab style="color:#fff ;  background: #0a740f;" ui-sref="symptoms/male"><b>Avatar</b></md-tab>
                <md-tab style="color:#fff ;  background: #0a740f;" ui-sref="allsymptoms"><b>Symptoms</b></md-tab>
            </md-tabs>
        </div>

        <div id="avatar" layout="row">
            <div flex="15">
                <md-button id="rotateFemaleBack" style="text-transform:none; float:left ; margin:6px" ng-click="symptom_female_back_vm.rotate()" aria-label="rotate female back to front"><md-icon md-svg-icon="{{static_path}}lib/image/rotate/128x128.svg"></md-icon></md-button>
            </div>
            <div flex="70">
                <div ng-style="symptom_female_back_vm.viewheight" ng-show = "symptom_female_back_vm.hideImage">
                    <canvas id="coinAnimation" front-rotate="" buttonid = "rotateFemaleBack"></canvas>
                </div>
                <div ng-style="symptom_female_back_vm.viewheight" ng-hide="symptom_female_back_vm.hideImage">
                    <img id="avatar_img" ng-show="photo.isLoading" ng-src="{{photo.src}}" usemap="#avatarFemaleBack" imageonload/>
                    <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="!photo.isLoading"></md-progress-circular>
                    <map id="avatar_female" name="avatarFemaleBack">
                        <area ng-repeat="map in photo.mapArea" href="#" state-name="{{ map.stateName }}" avatar-code="{{ map.avatarCode }}" avatar-key="{{ map.avatarkey }}" full="{{ map.full }}" shape="{{ map.shape }}" coords="{{ map.coords }}">
                    </map>
                </div>
            </div>
            <div flex="15">
                <md-button href="#/symptoms/female" ui-sref="symptoms/male_back" style="text-transform:none; float:right; margin:6px" ng-click="symptom_female_back_vm.change()" aria-label="change gender"><md-icon md-svg-icon="{{static_path}}lib/image/gender/128x128.svg"></md-icon></md-button>
            </div>
        </div>
    </md-card>
</div>
<ui-view></ui-view>