<div class="avatar" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-tabs class = "md-accent" md-border-bottom md-stretch-tabs="always">
                <md-tab style="color:#fff;  background: #0a740f;" ui-sref="symptoms/male"><b>Avatar</b></md-tab>
                <md-tab style="color:#fff ;  background: #0a740f;" ui-sref="allsymptoms"><b>Symptoms</b></md-tab>
            </md-tabs>
        </div>

        <div id="avatar" layout="row">
            <div flex="15">
                <md-button id="rotateFront" style="text-transform:none; float:left; margin:6px" ng-click="symptom_male_vm.rotate()" aria-label="rotateMaleToBAck"><md-icon md-svg-icon="{{static_path}}lib/image/rotate/128x128.svg"></md-icon></md-button>
            </div>
            <div flex="70">
                <div class="" ng-style="symptom_male_vm.viewheight"  ng-show=" symptom_male_vm.hideImage">
                    <canvas id="coinAnimation" front-rotate="" buttonid="rotateFront"></canvas>
                </div>



                <div class="" ng-style="symptom_male_vm.viewheight" ng-hide="symptom_male_vm.hideImage">
                   <img id="avatar_img" ng-show="photo.isLoading"  ng-src="{{photo.src}}" usemap="#avatarMale"  imageonload/>
                   <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="!photo.isLoading"></md-progress-circular>
                   <map id="avatar_male" name="avatarMale" >
                        <area ng-repeat="map in photo.mapArea" href="#" state-name="{{ map.stateName }}" avatar-code="{{ map.avatarCode }}" avatar-key="{{ map.avatarkey }}" full="{{ map.full }}" shape="{{ map.shape }}" coords="{{ map.coords }}" >
                   </map>
                </div>

            </div>
            <div flex="15">
                <md-button href="#/symptoms/female" ui-sref="symptoms/female" style="text-transform:none; float:right; margin:6px" ng-click="symptom_male_vm.change()"aria-label="ChangeMaleFrontToFemaleFront"><md-icon md-svg-icon="{{static_path}}lib/image/gender/128x128.svg"></md-icon></md-button>
            </div>
        </div>


    </md-card>
</div>
<ui-view></ui-view>

