<div class="avatar symptom-cause" layout="column" flex>
  <md-card class="cards tile">
    <div layout="row" class="header_bar">
      <md-subheader class="md-no-sticky" flex="80">
            <div class="container_title"><b>Causes for {{allsymptom_cause_vm.title}} {{allsymptom_cause_vm.causesList.msp_enabled}}</b></div>
      </md-subheader>
      <div flex="20" layout="center center">
        <div layout="row" class="pull-right margin-top-bottom">
          <md-button class="md-icon-button md-primary" aria-label="scrollup" go-to-top=".cause_of_symptoms">
              <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-primary close_btn" aria-label="Settings" ng-click="allsymptom_cause_vm.closeView()">
            <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg" ></md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <md-card-content id="gender-filter" style="height : {{(allsymptom_cause_vm.windowHeight)-174}}px">
      <div layout="column" layout-padding ng-show="allsymptom_cause_vm.causesList.msp_enabled">
          <md-content>
             <div  layout="row" layout-align="center center" class="switch-slider">
                <div flex ="33"   >
                    <switch id="enabled" name="enabled" ng-model="filter_by_gender" on="Female" off="Male" class="green"></switch>
                </div>
                <div flex ="66" layout style="padding-right: 3px;">
                    <div  flex = "20" layout layout-align="center center">
                        <span class="md-body-1">Age:&nbsp;&nbsp; </span>
                    </div>
                    <md-slider flex="60" md-discrete ng-model="filter_by_age" step="1" min="1" max="4" aria-label="rating"></md-slider>
                    <span flex="20" layout layout-align="center center">{{allsymptom_cause_vm.age}}</span>
                </div>
             </div>
             <h3>Check any symptoms that apply:</h3>
             <div  layout="row">
                <div flex >
                    <div>
                        <md-checkbox  ng-model="data.cb1" aria-label="Checkbox 1">
                          Checkbox 10:
                        </md-checkbox>
                       <md-checkbox  ng-model="data.cb2" aria-label="Checkbox 2" >
                          Checkbox 2
                        </md-checkbox>
                     </div>
                </div>
                <div flex >
                    <div>
                        <md-checkbox ng-model="data.cb3" aria-label="Checkbox 3">
                          Checkbox 10:
                        </md-checkbox>
                        <md-checkbox  ng-model="data.cb4" aria-label="Checkbox 4">
                          Checkbox 10:
                        </md-checkbox>
                     </div>
                </div>
             </div>
          </md-content>
       </div>
      <div>

        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="allsymptom_cause_vm.isLoading"></md-progress-circular>
          <perfect-scrollbar ng-style="allsymptom_cause_vm.viewheight" class="cause_of_symptoms scroller"  id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
            <div class="symptoms-bar_list_view">
              <!-- <h3 ng-show="allsymptom_cause_vm.isNotCause">Symptoms not found for this type of Condition</h3> -->
              <md-list class="list_view">
                <md-list-item ng-repeat="cause in allsymptom_cause_vm.causesList.results track by cause.main_condition.slug" ui-sref=".conditions_overview({cause_id:cause.main_condition.slug})" ui-sref-active="list_active" class="symptoms_cause_item">
                <md-button><div>{{cause.main_condition.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
              </md-list>
            </div>
          </perfect-scrollbar>
          <span class="data-not-found" ng-show="allsymptom_cause_vm.isNotCause">Data not Found</span>
      </div>
    </md-card-content>
  </md-card>


</div>



<ui-view></ui-view>
