<div class="avatar symptom-cause" layout="column" flex style="width: 575px">
<md-card class="cards tile">
    <md-subheader class="md-no-sticky">
        <md-button class="md-icon-button md-primary pull-left" aria-label="Settings" style="margin-top:-2%; float:left; width:35px; border-radius:50%;" check-login ui-sref=".mymedicationsoverview({ myMedicationId : (medications_overview_vm.isStarFill==true?medications_overview_vm.myMedicationId:'addMedication'), myMedicationName : medications_overview_vm.title})">
            <md-icon md-svg-icon="{{static_path}}lib/image/blank_star/128x128.svg" ng-hide="medications_overview_vm.isStarFill"></md-icon>
            <md-icon md-svg-icon="{{static_path}}lib/image/filled_star/128x128.svg" ng-show="medications_overview_vm.isStarFill"></md-icon>
        </md-button>
        <div class="container_title container_title-w75"><b>{{medications_overview_vm.title}}</b></div>

        <div class="pull-right" style="margin-top: -4.8%;">
          <span class="md-icon-button md-primary" aria-label="close" style="float:left; display: inline-block; padding: 6px;">
              <my-toggle icon="{{static_path}}lib/image/share/128x128.svg" icon-position="right" icon-height="0px" icon-width="24px" container-height="170px" container-width="300px">
                  <img src="{{static_path}}lib/image/social_icon/twitter/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%; margin-bottom: 4%;" socialshare socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                  <img src="{{static_path}}lib/image/social_icon/facebook/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%; margin-bottom: 4%;" socialshare socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                  <img src="{{static_path}}lib/image/social_icon/google_plus/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%; margin-bottom: 4%;" socialshare socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/><br/>
                  <md-content style="padding:10px; background:rgb(242, 242, 242); box-shadow: 0.1px 0.1px 5px rgb(66, 66, 66); z-index:100">
                    <md-input-container md-no-float>
                      <input ng-model="location.absUrl()" type="text" name="copy_txt">
                    </md-input-container>
                    <md-button style="width:100%; z-index:1000" class="md-raised md-primary bg-green md-button md-default-theme"id="clipboard_copy" clip-click-fallback="medications_overview_vm.pathCopyForShare(false)" clip-copy="location.absUrl()" clip-click="medications_overview_vm.pathCopyForShare(true)">Copy</md-button>
                  </md-content>
              </my-toggle>
          </span>
          <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="medications_overview_vm.closeView()">
              <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-primary" aria-label="close" style="float:right" go-to-top=".medication_overview">
              <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
          </md-button>
        </div>
      <!--<md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="medications_overview_vm.closeView()" style="margin-top:-3%">
        <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
      </md-button>-->
    </md-subheader>
  
    <div>
        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="medications_overview_vm.isLoading"></md-progress-circular>

        <perfect-scrollbar ng-style="medications_overview_vm.viewheight" class="scroller symptoms-bar_blank_div medication_overview" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
            <div class="symptoms-bar_list_view symptoms-bar_list_overview">
              <div class="sanitize_data color-gray" ng-repeat="overview in medications_overview_vm.medicationOveriew" style="font-size:15px; overflow:hidden; white-space: normal;">
                <md-content>
                   <md-card class="" layout-padding>
                    <md-card-content layout="column">
                      <div layout = "row"> 
                        <div flex = "10" layout-padding>
                           <md-icon md-svg-src="{{static_path}}lib/image/my_conditions/128x128.svg" class="s24" alt="Cake"></md-icon>
                        </div>
                         <div flex = "90">
                           <h3 class="md-title" style="margin: .5em 0;"> Conditions Treated</h3>
                        </div>
                      </div>

                      <div layout = "row">
                          <div flex = "10">
                           
                          </div>
                          <div flex = "90">
                            <div ng-bind-html="overview.why" style="margin-bottom: .5em;"></div>
                          </div>
                      </div>
                    </md-card-content>
                   </md-card>

                    <md-card class="" layout-padding>
                    <md-card-content layout="column">
                        <div layout = "row"> 
                          <div flex = "10" layout-padding>
                             <md-icon md-svg-src="{{static_path}}lib/image/my_conditions/128x128.svg" class="s24" alt="Cake"></md-icon>
                          </div>
                           <div flex = "90">
                             <h3 class="md-title" style="margin: .5em 0;">Possible Side Effects</h3>
                          </div>
                        </div>

                        <div layout = "row">
                            <div flex = "10">
                             
                            </div>
                            <div flex = "90">
                              <p><b>What Side Effects Can This Cause?</b></p>
                                <div ng-bind-html="overview.side_effects"></div>
                            </div>
                        </div>
                    </md-card-content>
                   </md-card>

                    <md-card class="" layout-padding>
                        <md-card-content layout="column">

                            <div layout = "row"> 
                              <div flex = "10" layout-padding>
                                 <md-icon md-svg-src="{{static_path}}lib/image/usage_instructions/128x128.svg" class="s24" alt="Cake"></md-icon>
                              </div>
                               <div flex = "90">
                                 <h3 class="md-title" style="margin: .5em 0;">Usage Instructions</h3>
                              </div>
                            </div>

                            <div layout = "row">
                                <div flex = "10">
                                 
                                </div>
                                <div flex = "90">
                                  <p ng-show="overview.how!=''"><b>How Should This Medication Be Used?</b></p>
                                  <div ng-bind-html="overview.how"></div>
                                  <p ng-show="overview.special_dietary!=''"><b>What Dietary Instructions Should I Follow?</b></p>
                                  <div ng-bind-html="overview.special_dietary"></div>
                                  <p ng-show="overview.precautions!=''"><b>Are There Any Special Instructions?</b></p>
                                  <div ng-bind-html="overview.precautions" style="margin-bottom: .5em;"></div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card class="" layout-padding>
                        <md-card-content layout="column">
                            <div layout = "row"> 
                              <div flex = "10" layout-padding>
                                 <md-icon md-svg-src="{{static_path}}lib/image/my_medications/128x128.svg" class="s24" alt="Cake"></md-icon>
                              </div>
                               <div flex = "90">
                                 <h3 class="md-title" style="margin: .5em 0;">Brand Names</h3>
                              </div>
                            </div>

                            <div layout = "row">
                                <div flex = "10">
                                 
                                </div>
                                <div flex = "90">
                                  <p><b>Common Brand Names for This Medication?</b></p>
                                    <div ng-bind-html="overview.brand"></div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card class="" layout-padding ng-show="overview.overdose!=''">
                        <md-card-content layout="column">
                            <div layout = "row"> 
                              <div flex = "10" layout-padding>
                                 <md-icon md-svg-src="{{static_path}}lib/image/overdose/128x128.svg" class="s24" alt="Cake"></md-icon>
                              </div>
                               <div flex = "90">
                                 <h3 class="md-title" style="margin: .5em 0;">Overdose</h3>
                              </div>
                            </div>

                            <div layout = "row">
                                <div flex = "10">
                                 
                                </div>
                                <div flex = "90">
                                  <p><b>What To Do In The Case of Emergency?</b></p>
                                    <div ng-bind-html="overview.overdose" style="margin-bottom: .5em;"></div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card class="" layout-padding>
                        <md-card-content layout="column">
                            <div layout = "row"> 
                              <div flex = "10" layout-padding>
                                 <md-icon md-svg-src="{{static_path}}lib/image/forgotton_dose/128x128.svg" class="s24" alt="Cake"></md-icon>
                              </div>
                               <div flex = "90">
                                 <h3 class="md-title" style="margin: .5em 0;">Forgotten Doses</h3>
                              </div>
                            </div>

                            <div layout = "row">
                                <div flex = "10">
                                 
                                </div>
                                <div flex = "90">
                                  <p><b>What Should I Do If I Forget A Dose?</b></p>
                                    <div ng-bind-html="overview.if_i_forget"></div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card class="" layout-padding>
                        <md-card-content layout="column">
                            <div layout = "row"> 
                              <div flex = "10" layout-padding>
                                 <md-icon md-svg-src="{{static_path}}lib/image/additional_information/128x128.svg" class="s24" alt="Cake"></md-icon>
                              </div>
                               <div flex = "90">
                                 <h3 class="md-title" style="margin: .5em 0;">Additional Information</h3>
                              </div>
                            </div>

                            <div layout = "row">
                                <div flex = "10">
                                 
                                </div>
                                <div flex = "90">
                                  <p ng-show="overview.storage_conditions!=''"><b>What Are the Storage Conditions for this Medication?</b></p>
                                  <div ng-bind-html="overview.storage_conditions"></div>
                                  <p><b>What Other Information Should I Know?</b></p>
                                  <div ng-bind-html="overview.other_information" style="margin-bottom: .5em;"></div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-content>
              </div>
            </div>
        </perfect-scrollbar>
    </div>
</md-card>
</div>  

<div class="symptom-cause" ui-view="myMedicationView"></div>
<div class="symptom-cause" ng-include="static_path + 'templates/imgvideodialog/whereCouldIgoMedication.html'">

</div>

<ui-view></ui-view>