
<!-- add new condition here-->
<div class="avatar symptom-cause" layout="column" flex  ng-show="myproceduresoverview_vm.myProcedureFilterOrForm">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Add New Procedure</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myproceduresoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
           <md-content md-theme="docs-dark"  class="search-bar"  >
               <md-input-container>
                  <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12);">Enter procedure name to add</label>
                 <input ng-model="myproceduresoverview_vm.filterList" ng-change="myproceduresoverview_vm.filterListChange(myproceduresoverview_vm.filterList)" autofocus  maxlength="100" focus ng-readonly="myproceduresoverview_vm.disabled"><!--ng-model="symptom_all_vm.filterList" ng-change="symptom_all_vm.filterListChange(symptom_all_vm.filterList)" autofocus focus ng-readonly="symptom_all_vm.isDisabled"-->
               </md-input-container>
           </md-content>
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="myproceduresoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar style="padding-top: 12%;" ng-style="myproceduresoverview_vm.viewheight" class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                    <md-list class="list_view">
                        <md-list-item ng-repeat='procedure in myproceduresoverview_vm.procedureList track by procedure.slug' ng-click="myproceduresoverview_vm.sendMyProcedure(procedure.name)"><md-button><div>{{procedure.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>

                        <!--<md-list-item></md-list-item>-->
                        <md-content style="background: rgba(244, 238, 239, 1)">

                            <div layout="row" >
                                <div flex="100">

                                    <h2 class="myfilterList" layout="row">
                                        <span flex="85" ng-if="myproceduresoverview_vm.filterList == null ">{{ myproceduresoverview_vm.filterList }}</span>
                                        <md-button flex="15" class="md-raised md-primary bg-green" ng-if="myproceduresoverview_vm.filterList == null ">Add</md-button>

                                        <span flex="85" ng-if="myproceduresoverview_vm.filterList != null ">{{ myproceduresoverview_vm.filterList }}</span>
                                        <md-button flex="15" class="md-raised md-primary bg-green" ng-if="myproceduresoverview_vm.filterList != null " ng-click="myproceduresoverview_vm.sendMyProcedure(myproceduresoverview_vm.filterList)">Add</md-button>
                                    </h2>
                                </div>
                                <div flex="5" style="margin: auto">
                                    <span  class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span>
                                </div>
                            </div>

                        </md-content>

                      </md-list>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<!-- saved condition page -->
<div class="avatar symptom-cause" layout="column" flex ng-show="!myproceduresoverview_vm.myProcedureFilterOrForm">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Saved Procedure</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
              <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myproceduresoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
              </md-button>
            </div>
        </div>

        <md-card-content>
           <md-content md-theme="docs-dark"  class="search-bar" layout-padding >
               <h3>{{ myproceduresoverview_vm.myProcedureFormData.procedure }}</h3>
           </md-content>
           <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="myproceduresoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar class="scroller" ng-style="myproceduresoverview_vm.viewheight" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view" style="padding-top: 12%;">
                    <div layout="column" layout-padding>
                        <h4>Details</h4>
                        <md-content layout-padding class="autoScroll">
                            <form name="myProcedureForm">
                                <md-input-container>
                                  <label>Date</label>
                                  <input type="text" ng-model="myproceduresoverview_vm.myProcedureFormData.date" required max="{{myproceduresoverview_vm.myProcedureFormData.today}}" date-picker>
                                </md-input-container>

                                <md-input-container >
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Doctor</label>
                                  <input ng-model="myproceduresoverview_vm.myProcedureFormData.doctor" type="text" maxlength="100" required name="doctor">
                                </md-input-container>

                                <md-input-container>
                                    <label>Note</label>
                                    <textarea ng-model="myproceduresoverview_vm.myProcedureFormData.note" columns="1" md-maxlength="500"></textarea>
                                </md-input-container>

                                <section layout="row"  layout-align="center center" layout-margin>
                                    <md-button ng-show="myproceduresoverview_vm.isNewProcedure" ng-disabled="!myproceduresoverview_vm.isNewProcedure  || myProcedureForm.doctor.$error.required ||myProcedureForm.note.$error.required" flex ="33" class="md-raised md-primary bg-green" ng-click="myproceduresoverview_vm.submitMyProcedure()">Save</md-button>
                                    <md-button ng-hide="myproceduresoverview_vm.isNewProcedure" flex ="33" class="md-raised md-primary bg-green" ng-click="myproceduresoverview_vm.updateMyProcedure()">Update</md-button>
                                    <md-button flex ="33" class="md-raised md-warn" ng-click="myproceduresoverview_vm.clearForm()">Reset</md-button>
                                    <md-button ng-hide="myproceduresoverview_vm.isNewProcedure" flex ="33" class="md-raised md-warn"  ng-click="myproceduresoverview_vm.showConfirm($event)">Delete</md-button>
                                </section>

                            </form>
                        </md-content>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>
<ui-view></ui-view>


