<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Change Password</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="changepassword_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="changepassword_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar ng-style="changepassword_vm.viewheight" class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column" layout-padding>
                        <md-content layout-padding class="autoScroll">
                            <form>

                                <md-input-container ng-hide="isShowPassword">
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>Old Password</label>
                                    <input ng-model="changepassword_vm.old_pass" type="password">
                                </md-input-container>
                                <md-input-container ng-show="isShowPassword">
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>Old Password</label>
                                    <input ng-model="changepassword_vm.old_pass" type="text">
                                </md-input-container>

                                <md-input-container ng-hide="isShowPassword">
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>New Password</label>
                                    <input ng-model="changepassword_vm.new_pass" type="password">
                                </md-input-container>
                                <md-input-container ng-show="isShowPassword">
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>New Password</label>
                                    <input ng-model="changepassword_vm.new_pass" type="text">
                                </md-input-container>
                                <md-input-container>
                                  <md-checkbox ng-model="isShowPassword" aria-label="Show Password">
                                    Show Password
                                  </md-checkbox>
                                </md-input-container>
                                <section layout="row"  layout-margin>
                                  <md-button flex ="50" class="md-raised md-primary bg-green" ng-click="changepassword_vm.changePass()">Save</md-button>
                                  <md-button flex ="50" class="md-raised md-warn">Cancel</md-button>
                                  <div class="label">Raised</div>
                                </section>

                            </form>
                        </md-content>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<ui-view></ui-view>

