<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
  <title>My Swaasth Project</title>
    <link rel="stylesheet" type="text/css" href="../static/lib/css/splashScreen/materialPreloader.css">
{% load static from staticfiles %}
  <!--<base href="/" />-->

  <meta name="viewport" content="initial-scale=1" />

  {% include 'stylesheets.html' %}
    <style>
        /* some naive styles for a splash page */
.splash {
    background: #000000;
    color: white;
}
.splash h2 {
    font-size: 2.1em;
    font-weight: 500;
}
.splash img {
    width: 100%;
    margin: auto auto;

    text-align: center;
}

[ng-cloak].splash {
    display: block !important;
}
[ng-cloak] {display: none;}
/* some naive styles for a splash page */
.splash {
  background: #000000;
  color: white;
    height: 100%;
}
.splash h2 {
  font-size: 2.1em;
  font-weight: 500;
}
.splashImg{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 100%;
}


        .fade {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            opacity: 1;
        }
        .fade.ng-enter {
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
        }
        .fade.ng-leave {
            -webkit-transition: all 1000ms ease;
            transition: all 1000ms ease;
        }
        .fade.ng-enter {
            opacity: 0;
            -webkit-transform: scale(0);
        }
        .fade.ng-enter-active {
            opacity: 1;
            -webkit-transform: scale(1);
        }
        .fade.ng-leave {
            opacity: 1;
            -webkit-transform: scale(1);
        }
        .fade.ng-leave-active {
            opacity: 0;
            -webkit-transform: scale(0);
        }
    </style>
</head>


{% verbatim %}

<body>
<div class="splash" data-ng-cloak="">
    <div layout="row" layout-align="center center">
        <div flex="40"></div>
        <div flex="20" class="splashImg">

            <img src="../static/lib/image/logo/myswaasthlogo22.png">
            <p class="pull-right" style="color: rgba(255, 255, 255, 0.51)">Innotical Solution Pvt. Ltd.</p>
        </div>
        <div flex="40"></div>
    </div>
</div>

    <ui-view class="fade"></ui-view>

{% endverbatim %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/splashScreen/materialPreloader.js"></script>
<script type="text/javascript">

 preloader = new $.materialPreloader({
        position: 'top',
        height: '5px',
        col_1: '#159756',
        col_2: '#da4733',
        col_3: '#3b78e7',
        col_4: '#fdba2c',
        fadeIn: 200,
        fadeOut: 200
    });

    preloader.on();
 <!--preloader.off();-->

</script>
  {% include 'javascripts.html' %}

</body>

</html>
