
{% load staticfiles %}


  <link rel="stylesheet" href="{% static 'lib/css/custom/index.css' %}">
  <link rel = "stylesheet" href="{% static 'bower_components/html5-boilerplate/dist/css/normalize.css' %} ">
  <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/dist/css/main.css' %} ">

  <link rel="stylesheet" href="{% static 'lib/angular-perfect-scrollbar-master/perfect-scrollbar/src/perfect-scrollbar.css' %} ">

  <script src="{% static 'bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js' %}  "></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static 'lib/jquery/jquery-ui.css' %}"/>

  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %} ">
  <link rel="stylesheet" href="{% static 'bower_components/angular-ui-switch/angular-ui-switch.css' %} ">
  <!--<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">-->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-slider/src/css/ng-slider.css' %}">

  <!--<link rel="stylesheet" href="{% static 'lib/css/custom/indexstyle.css' %} "> -->
  <!-- <link rel="stylesheet" href="{% static 'lib/css/custom/mediaHeight.css' %} ">-->


  <link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/custom/angularmaterial.css' %} ">

  <link rel="stylesheet" href="{% static 'lib/css/custom/style.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/custom/style1.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/custom/view_animation_style.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/login/loginstyle.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/dialog/PopupdialogStyle.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/dialog/article.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/dashboard/dashboard.css' %} ">

  <!--****For popup Menu****-->
   <link rel="stylesheet" href="{% static 'lib/Popup-Menu-for-Apps-master/Popup-Menu-for-Apps/src/custom_directive.css' %}">
<style>
    /* CSSTerm.com Simple CSS menu */

.menu_simple ul {
    margin: 0;
    padding: 0;
    width:100%;
    list-style-type: none;
    background-color: #005555;
}

.menu_simple ul li .search_menu {
    text-decoration: none;
    color: white;
    text-transform: none;
    padding: 10.5px 5px;
    text-align: left;
    background-color: #005555;
    display:block;
    width:100%;
}

.menu_simple ul li .current {
    color: white;
    font-weight: bold;
    border-right:2px solid white;
}
/*location change css*/
.locatioslider {
    position: absolute;
    z-index: 10;
	overflow-y: hidden;
    max-height: 400px;
    background: red;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -moz-transition-property: all;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-transition-property: all;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    background: rgb(66, 66, 66);
    height: 300px;
    width: 100%;
    color: #f5f5f5;
}
.locatioslider.closedlocationslider {
	max-height: 0;
}

</style>