<div class="sanitize_data" ng-repeat="overview in allsymptom_condition_vm.conditionsOveriew" style="font-size:15px; overflow:hidden; white-space: normal;">

            <div>

              <md-list class="list_view">
                <md-list-item ng-repeat='article in overview.article track by article.slug' selected-item-change muppet-active="muppetActive1"><md-button ui-sref=".article({article_id:article.slug})"><div><b>{{article.title}}</b></div><div ng-bind-html="article.article_body | plainHTMLText" style="height:40px; overflow:hidden; text-overflow:ellipses"></div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
              </md-list>
            </div>
            
        </div>