<div class="sanitize_data" ng-repeat="overview in allsymptom_condition_vm.conditionsOveriew" style="font-size:15px; overflow:hidden; white-space: normal;">
            <div>
              <h3>Further Information for <span ng-bind-html="overview.name"></span></h3><hr/>
                <h3>Discriptions</h3>
                <p ng-bind-html="overview.further_information_description"></p><hr/>
                <h3>Symptoms</h3>
                <p ng-bind-html="overview.further_information_symptoms"></p><hr/>
                <h3>Workup</h3>
                <p ng-bind-html="overview.further_information_workup"></p><hr/>
                <h3>Treatment</h3>
                <p ng-bind-html="overview.further_information_treatment"></p><hr/>

            </div>
</div>