<div class="avatar symptom-cause" style="width: 575px;" layout="column" flex>
    <md-card class="cards tile">
        <md-subheader class="md-no-sticky">
            <md-button class="md-icon-button md-primary pull-left" aria-label="Settings" style="margin-top:-2%; float:left; width:35px; border-radius:50%;" check-login ui-sref=".myconditionsoverview({myConditionId:(allsymptom_condition_vm.isStarFill==true?allsymptom_condition_vm.myConditionId:'addCondition'), myConditionName : allsymptom_condition_vm.title})" ui-sref-active="list_active">
                <md-icon md-svg-icon="{{static_path}}lib/image/blank_star/128x128.svg" ng-hide="allsymptom_condition_vm.isStarFill"></md-icon>
                <md-icon md-svg-icon="{{static_path}}lib/image/filled_star/128x128.svg"  ng-show="allsymptom_condition_vm.isStarFill"></md-icon>
            </md-button>

            <div class="container_title container_title-w45">{{allsymptom_condition_vm.title}}</div>

            <md-content style="height:50px;background:rgba(1, 236, 12, 0.17); position:absolute; left:52%; margin-top:-20px">
                <md-select placeholder="Overviews" ng-model="condition_overview_menu" style="background:transparent;">
                    <md-option value="1">Overviews</md-option>
                    <md-option value="2" ng-show="allsymptom_condition_vm.conditionsOveriew[0].show_further_information">Further Reading</md-option>
                    <md-option value="3"  ng-show="allsymptom_condition_vm.conditionsOveriew[0].images.length!=0 && allsymptom_condition_vm.conditionsOveriew[0].videos.length!=0">Images &amp; Videos</md-option>
                    <md-option value="4" ng-show="allsymptom_condition_vm.conditionsOveriew[0].show_articles && allsymptom_condition_vm.conditionsOveriew[0].article.length!=0">Health Articles</md-option>
                </md-select>
            </md-content>

            <div class="pull-right" style="margin-top: -2%;">
                <span class="md-icon-button md-primary" aria-label="close" style="float:left; display: inline-block; padding: 6px;">
                    <my-toggle icon="{{static_path}}lib/image/share/128x128.svg" icon-position="right" icon-height="0px" icon-width="24px" container-height="170px" container-width="300px">
                        <img src="{{static_path}}lib/image/social_icon/twitter/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%; margin-bottom:4%;" socialshare socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                        <img src="{{static_path}}lib/image/social_icon/facebook/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%;; margin-bottom:4%;"  socialshare socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                        <img src="{{static_path}}lib/image/social_icon/google_plus/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%;; margin-bottom:4%;" socialshare socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/><br/>
                        <md-content style="padding:10px; background:rgb(242, 242, 242); box-shadow: 0.1px 0.1px 5px rgb(66, 66, 66); z-index:100">
                            <md-input-container md-no-float>
                                <input ng-model="location.absUrl()" type="text" name="copy_txt">
                            </md-input-container>
                            <md-button style="width:100%; z-index:1000" class="md-raised md-primary bg-green md-button md-default-theme"id="clipboard_copy" clip-click-fallback="allsymptom_condition_vm.pathCopyForShare(false)" clip-copy="location.absUrl()" clip-click="allsymptom_condition_vm.pathCopyForShare(true)">Copy</md-button>
                        </md-content>
                    </my-toggle>
                </span>
                <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="allsymptom_condition_vm.closeView()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="close" style="float:right" go-to-top=".condition_overview">
                    <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
                </md-button>
                <!--<md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="allsymptom_condition_vm.closeView()" style="margin-top:-3%; float:right">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>-->
            </div>
        </md-subheader>

        <md-card-content>
            <md-progress-circular style="margin-top:10px" class="md-hue-2 loading" md-mode="indeterminate" ng-show="allsymptom_condition_vm.isLoading"></md-progress-circular>
            <perfect-scrollbar ng-style="allsymptom_condition_vm.viewheight" class="scroller symptoms-bar_blank_div scroll_top condition_overview" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view symptoms-bar_list_overview">
                    <div class="sanitize_data color-gray" ng-repeat="overview in allsymptom_condition_vm.conditionsOveriew" style="font-size:15px; overflow:hidden; white-space: normal;">
                        <div ng-show="allsymptom_condition_vm.isOverviewTab">
                          <md-card class="" layout-padding>
                            <md-card-content layout = "column">
                              <div layout = "row">
                                  <div flex = "10" layout-padding>
                                   <md-icon md-svg-src="{{static_path}}lib/image/description/128x128.svg" class="s24" alt="Cake"></md-icon>
                                  </div>
                                  <div flex = "90">
                                   <h3 class="md-title" style="margin: .5em 0;">
                                      Description of <span ng-bind-html="overview.name"></span>
                                   </h3>
                                  </div>
                              </div>

                              <div layout = "row">
                                  <div flex = "10">

                                  </div>
                                  <div flex = "90">
                                    <div style="margin-bottom: .5em;">
                                      <p ng-bind-html="overview.description"></p>
                                    </div>
                                  </div>
                              </div>
                            </md-card-content>
                          </md-card>
                          <md-card class="" layout-padding>
                            <md-card-content layout="column">
                                <div layout="row">
                                  <div flex = "10" layout-padding>
                                      <md-icon md-svg-src="{{static_path}}lib/image/symptoms/128x128.svg" class="s24" alt="Cake"></md-icon>
                                  </div>
                                   <div flex = "90">
                                    <h3 class="md-title" style="margin: .5em 0;">
                                       Symptoms of <span ng-bind-html="overview.name"></span></h3>
                                    </div>
                                </div>

                                <div layout = "row">
                                  <div flex = "10">

                                  </div>
                                  <div flex = "90">
                                    <div style="margin-bottom: .5em;">
                                      <p ng-bind-html="overview.symptoms"></p>
                                    </div>
                                  </div>
                                </div>
                            </md-card-content>
                          </md-card>
                          <md-card class="" layout-padding>
                            <md-card-content layout="column">
                              <div layout="row">
                                <div flex = "10" layout-padding>
                                    <md-icon md-svg-src="{{static_path}}lib/image/test/128x128.svg" class="s24" alt="Cake"></md-icon>
                                </div>
                                 <div flex = "90">
                                  <h3 class="md-title" style="margin: .5em 0;">Tests for <span ng-bind-html="overview.name"></span></h3>
                                </div>
                              </div>

                              <div layout = "row">
                                <div flex = "10">

                                </div>
                                <div flex = "90">
                                  <b>Workup</b>
                                    <p ng-bind-html="overview.workup"></p>
                                  <div ng-show="overview.medical_tests.length!=0">
                                    <b>Tests</b>
                                    <ul>
                                      <li ng-repeat="test in overview.medical_tests" ng-bind-html="test.name"></li>
                                    </ul>
                                  </div>
                                  <div ng-show="overview.condition_DoINeedThisTest.is_active">
                                    <h4><b>Do I Need This Test?</b></h4>
                                      <p ng-bind-html="overview.condition_DoINeedThisTest.content"></p>
                                      <b>How this was created and why it is important</b>
                                      <img src="https://www.itriagehealth.com/{{overview.condition_DoINeedThisTest.medical_society_icon_url}}"/>
                                      <p ng-bind-html="overview.condition_DoINeedThisTest.attribution_text"></p>
                                  </div>
                                  <b>Specialists</b>
                                    <ul>
                                      <li ng-repeat="specialtie in overview.medical_specialties" ng-bind-html="specialtie.name"></li>
                                    </ul>
                                </div>
                              </div>
                            </md-card-content>
                          </md-card>
                          <md-card class="" layout-padding>
                            <md-card-content layout="column">


                            <div layout="row">
                                <div flex = "10" layout-padding>
                                    <md-icon md-svg-src="{{static_path}}lib/image/my_procedures/128x128.svg" class="s24" alt="Cake"></md-icon>
                                </div>
                                 <div flex = "90">
                                  <h3 class="md-title" style="margin: .5em 0;">Treatment of <span ng-bind-html="overview.name"></span></h3>
                                </div>
                              </div>

                              <div layout = "row">
                                <div flex = "10">

                                </div>
                                <div flex = "90">
                                  <div style="margin-bottom: .5em;">
                                    <p ng-bind-html="overview.treatment"></p>
                                  </div>
                                </div>
                              </div>
                            </md-card-content>
                          </md-card>
                        </div>
                        <div ng-show="allsymptom_condition_vm.isFurtherReadingTab">
                          <h3>Further Information for <span ng-bind-html="overview.name"></span></h3><hr/>
                            <md-card class="" layout-padding>
                               <md-card-content>
                                  <div layout="row">
                                    <div flex = "10" layout-padding>
                                      <md-icon md-svg-src="{{static_path}}lib/image/description/128x128.svg" class="s24" alt="Cake"></md-icon>
                                    </div>
                                    <div flex = "90">
                                      <h3 class="md-title" style="margin: .5em 0;">Descriptions</h3>
                                    </div>
                                  </div>
                                  <div layout="row">
                                    <div flex = "10">

                                    </div>
                                    <div flex = "90">
                                      <p ng-bind-html="overview.further_information_description"></p>
                                    </div>
                                  </div>
                               </md-card-content>
                            </md-card>
                            <md-card class="" layout-padding>
                               <md-card-content>
                                  <div layout="row">
                                    <div flex = "10" layout-padding>
                                      <md-icon md-svg-src="{{static_path}}lib/image/symptoms/128x128.svg" class="s24" alt="Cake"></md-icon>
                                    </div>
                                    <div flex = "90">
                                      <h3 class="md-title" style="margin: .5em 0;">Symptoms</h3>
                                    </div>
                                  </div>
                                  <div layout="row">
                                    <div flex = "10">

                                    </div>
                                    <div flex = "90">
                                      <p ng-bind-html="overview.further_information_symptoms"></p>
                                    </div>
                                  </div>
                               </md-card-content>
                            </md-card>
                            <md-card class="" layout-padding>
                               <md-card-content>
                                  <div layout="row">
                                    <div flex = "10" layout-padding>
                                      <md-icon md-svg-src="{{static_path}}lib/image/test/128x128.svg" class="s24" alt="Cake"></md-icon>
                                    </div>
                                    <div flex = "90">
                                      <h3 class="md-title" style="margin: .5em 0;">Workup</h3>
                                    </div>
                                  </div>
                                  <div layout="row">
                                    <div flex = "10">

                                    </div>
                                    <div flex = "90">
                                      <p ng-bind-html="overview.further_information_workup"></p>
                                    </div>
                                  </div>
                               </md-card-content>
                            </md-card>
                            <md-card class="" layout-padding>
                               <md-card-content>
                                  <div layout="row">
                                    <div flex = "10" layout-padding>
                                      <md-icon md-svg-src="{{static_path}}lib/image/my_procedures/128x128.svg" class="s24" alt="Cake"></md-icon>
                                    </div>
                                    <div flex = "90">
                                      <h3 class="md-title" style="margin: .5em 0;">Treatment</h3>
                                    </div>
                                  </div>
                                  <div layout="row">
                                    <div flex = "10">

                                    </div>
                                    <div flex = "90">
                                      <p ng-bind-html="overview.further_information_treatment"></p>
                                    </div>
                                  </div>
                               </md-card-content>
                            </md-card>
                        </div>
                        <div ng-show="allsymptom_condition_vm.isImagesVideosTab">
                            <md-card class="">
                              <md-card-content layout="column">
                                <div layout = "row">
                                  <div flex = "10" layout-padding>
                                     <md-icon md-svg-src="{{static_path}}lib/image/related_image/128x128.svg" class="s24" alt="Cake"></md-icon>
                                  </div>
                                   <div flex = "90">
                                     <h3 class="md-title" style="margin: .5em 0;"> Related Images</h3>
                                  </div>
                                </div>

                                <div layout = "row">
                                    <div flex = "10">

                                    </div>
                                    <div flex = "90">
                                      <div>
                                          <img style="margin:.6%; width: 32%; "  ng-repeat="image in overview.images" ng-click="allsymptom_condition_vm.showImage($event, $index)" src="{{image.thumbnail_url}}" class="img img-thumbnail"/>
                                      </div>
                                    </div>
                                </div>
                              </md-card-content>
                            </md-card>

                            <md-card class="">
                              <md-card-content layout="column">
                                <div layout = "row">
                                  <div flex = "10" layout-padding>
                                     <md-icon md-svg-src="{{static_path}}lib/image/video/128x128.svg" class="s24" alt="Cake"></md-icon>
                                  </div>
                                   <div flex = "90">
                                     <h3 class="md-title" style="margin: .5em 0;"> Related Videos</h3>
                                  </div>
                                </div>

                                <div layout = "row">
                                    <div flex = "10">

                                    </div>
                                    <div flex = "90">
                                      <div>
                                          <img style="margin:.6%; width: 32%; " ng-repeat="video in overview.videos" src="{{video.thumbnail_url}}" class="img img-thumbnail" ng-click="allsymptom_condition_vm.showVideo($event, $index)"/>
                                      </div>
                                    </div>
                                </div>
                              </md-card-content>
                            </md-card>

                        </div>
                        <div ng-show="allsymptom_condition_vm.isHealthArticle">
                            <md-card class="" ng-repeat='article in overview.article track by article.slug'>
                                <md-list class="list_view" style="padding:0px">
                                    <md-list-item  selected-item-change muppet-active="muppetActive1" ng-click="allsymptom_condition_vm.showArticles($event, $index)">
                                        <md-button>
                                            <div><b>{{article.title}}</b></div>
                                            <div ng-bind-html="article.article_body | plainHTMLText" style="height:40px; overflow:hidden; text-overflow:ellipses;"></div>
                                            <span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span>
                                        </md-button>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>

                            </md-card>

                         </div>

                    </div>
                  </div>
            </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<div class="symptom-cause" ui-view="myConditionView"></div>
<div class="symptom-cause" ng-include="static_path + 'templates/imgvideodialog/whereCouldIgoCondition.html'">

</div>
<ui-view></ui-view>
